body{
    margin: 0;
    padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 70px;
  width: 100%;
  background-color: #f9f9f9; /* Example: Oxford Blue */
}

.logo img{
    height: 50px;
    margin: 1px;
    padding: 4px;
    border-radius: 50%;
    display:flex;
    gap: auto;
}
.list{
    display: flex;
    padding: 10px;
    margin: 0 0px 0px 0%;
    gap: 20px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    list-style: none;
    align-items: center;
   
}

.item{
    transition: 0.2s;
    transition-property: color, transform , background-color;
    transition-timing-function: ease-in-out;

}
.item:hover{
    color: #241fbd;
    cursor: pointer;
    transform: translate3d(8px, -8px, 0);
    background-color: rgb(182, 191, 148);
}

.user-btn button{
  padding: 15px 20px;
  font-size: 1rem;
  border: none;
  margin-right: 100px ;
  border-radius: 8px;
  background-color: #49aaff;
  color: #041e28;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-btn button:hover {
  background-color: #1a148c;
  color: #49aaff;
}


.container{
  min-height: 90vh;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background:white;
}

.left{
    flex-basis: 28%;
}
.right{
    flex-basis: 60%;
    display: grid;
    gap: 10px;
    grid-auto-rows: 500px;

}
.left p{
    color: grey;
}
.book-btn button {
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  background-color: #49aaff;
  color: #041e28;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.book-btn button:hover {
  background-color: #1a148c;
  color: #ffffff;
  transform: scale(1.09);
}

.hero{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 0.8s ease-in-out;
}

.hero:hover{
    background-color:#000000;
    background-position:bottom;
      transform: scale(1.07);
}